.topics{
    background: var(--degrade-color);
    display: flex;
    flex-direction: column;
    gap: 2em;
    text-align: center;
    padding: 1em;
}
.topics__text{
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 300;
    margin: 2em 0;
}
.topics__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}
.topics__item{
    margin: 2em 0.25em;
}
.topics__item a{
    text-decoration: none;
    padding: 1em 1.5em;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 0.875rem;
    background-color: var(--secundary-color);
    
}
@media screen and (min-width: 1024px){
    .topics__text{
        font-size: 1.5rem;
        
    }
    .topics__list a{
        font-size: 1.5rem;
      
    }
    .topics{
        padding: 1em 4em;
    }
    .topics__list{
        gap: 0.5em;
    }
   
    
}
@media screen and (min-width: 1024px){
    .topics__item a{
       padding: 1.5em 2em;
    }
    .topics__text{
        margin: 0;
        padding: 1.5em 0 0.5em 0;
        font-size: 2rem;
    }
    .topics__item{
        margin: 3em 0;
    }
    .topics{
        padding: 3em 25em;
    }
}
